<h1><%= @list.name %></h1>
<ul class="list-unstyled">
<% @bookmarks.each do |bookmark| %>
  <li><%= bookmark.movie.title %>   | <%= link_to "remove from list", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
<% end %>
</ul>

<%= link_to "add a movie", new_list_bookmark_path(@list, @bookmark), class: "btn btn-primary" %>

